Woche21/Client/Service References/ServiceReferenceClient/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorServiceParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Parameter1" type="xs:float" />
      <xs:element minOccurs="0" name="Parameter2" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorServiceParameter" nillable="true" type="tns:CalculatorServiceParameter" />
</xs:schema>